<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to DINERO</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div>
    <span style="display: block;">Now, Manage your Income, expenses, investments in a new style.</span>
    <span style="display: block;">Welcome to DINERO where you can manage your money.</span>
    <h4>Registration Code: <%= code %></h4>
    <span style="display: block;">Thanks for joining DINERO family.</span>
    <span style="display: block;">Enjoy your new and beautiful experience ahead.</span>
  </div>
</body>
</html>
